.carrusel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 80%;
  align-items: center;
  margin-bottom: 5px;
}
.item-lateral {
  width: 50vw;
  height: 40vh;
}
#izquierda {
  margin-right: -15vw;
  background-image: url("../img/galeria/web1_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.65;
}
#derecha {
  margin-left: -15vw;
  background-image: url("../img/galeria/web1_3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.65;
}
.item-centro {
  width: 90vw;
  height: 65vh;
  padding: 5px;
  z-index: 9999;
}
#centro {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 9999;
}
.botones-carrusel {
  position: fixed;
  bottom: 12%;
  width: 10vw;
  height: 3vw;
  max-height: 40px;
  min-height: 15px;
  align-items: center;
  z-index: 9999;
}
.botones-carrusel button {
  background-color: transparent;
  border: none;
  transition: transform 0.3s ease;
}
.botones-carrusel button:last-child {
  margin-right: 0;
}
.botones-carrusel button:hover {
  transform: scale(1.5);
}
.botones-carrusel button img {
  width: 10vw;
  max-width: 35px;
  min-width: 15px;
}
.botones-carrusel button:active {
  transform: scale(0.8);
}
@media (width <= 1280px) {
  .contenedor {
    width: 100vw;
  }
  .carrusel {
    flex-direction: column;
    margin-top: 1vh;
  }
  .item-centro {
    max-width: 80vw;
    max-height: 80vh;
  }
  #izquierda {
    margin-right: 0;
  }
  #derecha {
    margin-left: 0;
  }
}
@media (width <= 640px) {
  .carrusel {
    flex-direction: column;
    margin-top: 10vh;
  }
}
@media (width <= 380px) {
  .carrusel {
    flex-direction: column;
    margin-top: 10vh;
    width: 100%;
    height: 100%;
  }
  .item-centro img {
    max-width: 180vw;
  }
  .item img {
    max-width: 30vw;
    border-radius: 5%;
    object-fit: cover;
    opacity: 0.6;
    filter: blur(1px);
    margin-top: 5vw;
  }
}
