body {
  padding: 0px;
  margin: 0px;
}
.contenedor {
  flex: auto;
  background-color: rgb(133, 130, 130);
}
.menu {
}
.logo {
  width: 8vw;
  min-width: 40px;
  border-radius: 50%;
  padding-left: 5vw;
  padding-top: 5vw;
}
nav {
}
nav a:link,
a:visited,
a:active {
  color: bisque;
  text-decoration: none;
  padding: 2%;
}
footer {
  position: fixed;
  bottom: 0;
}
