:root {
  --blue-ligth: #c6e8f4;
  --blue-medium: #66c3f4;
  --blue-dark: #031b29;
  --orange-ligth: #eddfa6;
  --orange-medium: #f3832f;
  --orange-dark: #ab420a;
  --turquoise-ligth: #a8f1f7;
  --turquoise-medium: #10a5b3;
  --turquoise-dark: #0b737d;
}
body {
  /* height: 100%; */
  /* margin: 0; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 0px; */
  /* margin: 0px; */
  /* width: 100vw; */
  /* height: 100vw; */
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.contenedor-center {
  width: 50%;
  height: 50%;
}
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  height: 70%;
  border-radius: 5vh 15vw 5vh 15vw;
  margin-top: 7vw;
  text-align: justify;
  font-size: calc(16px + 0.8vw);
  font-style: italic;
  color: white;

  /* color: var(--blue-ligth); */
  white-space: pre-line;
  background-image: url(""../img/galeria/web1_18.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.contenedor p {
  padding: 5vw;
}
.referencia {
  text-align: right;
  font-style: italic;
  font-size: 14px;
  margin-top: 10px;
  align-self: flex-end;
}
.menu {
  position: fixed;

  top: 0;
  width: 100%;
  height: 5vw;
  min-height: 60px;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-ligth);
  color: var(--turquoise-dark);
  border-bottom: solid 3px var(--orange-medium);
  align-items: center;
  z-index: 1050;
}

.logo {
  display: inline;
  width: 4vw;
  min-width: 50px;
  position: absolute;
  top: 5px;
  left: 5px;
  border: solid 1px var(--orange-dark);
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 5px rgba(0, 0, 0, 0.19);
}
nav {
  max-height: 120px;
  height: 12vw;
}
nav a:link,
a:visited,
a:active {
  color: var(--turquoise-dark);
  text-decoration: none;
  font-size: min(30px, 6vw);
  /* font-size: 3vw;  */
  margin-top: 15px;
  margin-bottom: 15px;
  /* margin-right: 2vw;  */
  margin-right: min(20px, 2vw);
}

.logo-favl img {
  width: 4vw;
  min-width: 30px;
  margin-right: 5px;
  border-radius: 50%;
}

.marca {
  margin: 0 auto;
  font-size: min(25px, 4vw);
  color: var(--turquoise-dark);
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--blue-ligth);
  height: 3vw;
  max-height: 40px;
  min-height: 5px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: solid 3px var(--orange-medium);
}
/* redes sociales*/
.redes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 8vw;
}

.redes img {
  width: 3vw;
  min-width: 20px;
  margin-right: 5px;
  border-radius: 50%;
}

.red-social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/******/
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Proporción 16:9 (dividir 9 entre 16 y multiplicar por 100) */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.carrusel1 {
  width: 100%;
  height: 20%;
  margin: 2px solid red;
}
/******/

.carrusel {
  width: 100vw;
  max-width: 100%;
  margin: 10px;
  border-radius: 10px;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.item img {
  max-width: 100%;
  border-radius: 5%;
  object-fit: cover;
}

/******/
@media (width <= 1280px) {
  .contenedor {
    width: 80vw;
  }
  .carrusel {
    flex-direction: column;
  }
}
@media (width <= 640px) {
  .menu {
    /* background: blue; */
  }
  .logo {
    display: none;
  }
  .menu a:link,
  a:visited,
  a:active {
    /* font-size: 1rem; */
  }
  .carrusel {
    flex-direction: column;
  }

  .contenedor {
    width: 100vw;
    height: 100%;
    border-radius: 0 0 0 0;
    font-size: calc(14px + 0.5vw);
    line-height: 1.5em;
    background-image: url("../img/galeria/web1_17.jpg");
    background-size: 150vw;
  }
  .contenedor p {
    /* padding: 0vw; */
  }
}

@media (width <= 380px) {
  .menu {
    /* background: red; */
  }

  .logo {
    display: none;
  }

  .menu a:link,
  a:visited,
  a:active {
    font-size: 0.8rem;
  }
  .contenedor {
    width: 80vw;
  }
  .carrusel {
    flex-direction: column;
  }
  .contenedor {
    width: 100vw;
    height: 100%;
    border-radius: 0 0 0 0;
    font-size: calc(16px + 0.5vw);
    line-height: 2em;
    background-size: 180vw;
    background-image: url("../img/galeria/web1_17.jpg");
  }
  .contenedor p {
    padding: 5vw;
  }
}

.carrusel2 {
  width: 100vw;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.slider {
  display: flex;
  overflow-x: scroll; 
  scroll-snap-type: x mandatory; 
  scrollbar-width: none; 
}

.slider::-webkit-scrollbar {
  display: none; 
}

.slider img {
  flex: 0 0 auto;
  scroll-snap-align: start; 
  width: 50%;
  height: auto;
  object-fit: cover;
}
