body {
  padding: 0px;
  margin: 0px;
}
.contenedor {
  flex: auto;
  background-color: rgb(133, 130, 130);
}
.menu {
}
nav {
}
nav a:link,
a:visited,
a:active {
  color: bisque;
  text-decoration: none;
  padding: 2%;
}
footer {
  position: fixed;
  bottom: 0;
}
